.App {
  /* text-align: center; */
  /* font-family: 'Inter', sans-serif; */
  font-family: 'Rom';
  /* height: 100%; */
  /* background-color: rgb(228,241,61); */
  /* background-color: rgb(236,224,200); */
  /* background-color: rgb(240,214,232); */
  background-color:white;
  /* background-color: rgb(238,226,238); */
  height: 100vh;
  padding: 1%;
  color: rgb(9,81,64);  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

#time {
  bottom: 0;
}

#no-underline {
  text-decoration: none;
  color: rgb(9,81,64);
  /* make pink */
  /* color: rgb(236,136,208); */
}
#no-underline:hover {
  /* color: rgb(223, 0, 227);  */
  /* color: rgb(246,1,17); */
  /* color: rgb(171,46,54); */
  color: rgb(236,136,208);
}
#pinky:hover {
  color: rgb(236,136,208);
}

#thoughts{
  color: rgb(9,81,64);
  font-family: 'Italic';
  text-align: justify;
}
.box1 {
  display: block;
}

.box2 {
  display: block;
  /* color: rgb(223, 0, 227); */
  /* color: rgb(246,1,17); */
  /* color: rgb(171,46,54); */
  color: rgb(236,136,208);
}

/* .wrapper:hover .box1 {
  display: none;
}

.wrapper:hover .box2 {
  display: block;
} */

#right {
  display: flex;
  justify-content: right;
}
#rowey {
  display: flex;
  justify-content: space-between;
}
